* {
	box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-weight: 300;
    margin: 0;
}

.header {
    background: #333;
    color: #fff;
    padding: 0.3em 1em;
	text-align: center;
}

.content,
.sidbar {
    box-sizing: border-box;
}
.content {
    background: #e8e8e8;
    padding: 0.3em 1em;
}

.sidebar {
    background: #c3c3c3;
    font-size: 95%;
    padding:0.3em 1em;
}
img {
    width: 100%;
    max-width: 960px;/* chiều rộng của image */
}
.topnav {
	overflow: hidden;
	background-color: #6a5b74;
}


.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


.topnav a:hover {
	background-color: #db7093;
	color: white;
	font-weight: bold
}


.column {
	float: left;
	width: 33.33%;
	padding: 15px;
}

/* Clear float khác sau các cột */
.row:after {
	content: "";
	display: table;
	clear: both;
}

@media only screen and (max-width: 768px) {
    .column {
		width: 100%;
	}
    .content{
        width: 63.5%;
        float: left;
        margin-right:1.5%;
    }
    .sidebar{
        width: 35%;
        float:left;
    }
}

@media screen and (min-width:1024px){
    .container {
        max-width: 1280px;
        margin: 0 auto;
    }
}
